/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.circle
{
width:200px;
height:200px;
border-radius:50%;
font-size:16px;
color:#fff;
line-height:200px;
text-align:center;
background:#000
}

.circle-selected
{
width:200px;
height:200px;
border-radius:50%;
font-size:16px;
color:#fff;
line-height:200px;
text-align:center;
background: blue
}
