<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 placeholder" data-ng-repeat="country in countries">
      <div data-ng-if="country.selected" class="circle-selected">
        {{country.name}}
      </div>
      <div data-ng-if="!country.selected" data-ng-click="changeCountry($index)" class="circle">
        {{country.name}}
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-sm-6">
      <nvd3-discrete-bar-chart
      data="graphData"
      showXAxis="true"
      showYAxis="true"
      tooltips="true"
      interactive="true"
      height="300">
    </nvd3-discrete-bar-chart>
  </div>

  <div class="col-sm-6">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product</th>
          <th>Units</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="seller in country_data.best_sellers">
          <td>{{seller.name}}</td>
          <td>{{seller.units}}</td>
          <td>{{seller.total}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
